.containerx {
    
    font-family: 'Courier New', Courier, monospace;
    /*background-color: #00c500d3;*/
    font-size: 30px;
    color: rgb(255, 255, 255);
    width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;    
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}